.cart_item {
    display: flex;
    flex-direction: row;
}

.cart_item_price {
    margin-left: 20px;
}

.main_container {
    display: flex;
}

.main_container_left {
    flex: 1;
}

.main_container_right {
    flex: 1;
}

.total_container {
    display: flex;
    flex-direction: row;
}

.product {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
